<% include partials/header.ejs %>

<h1>Thank you!</h1>
You have send the form to <strong><%= data.who %></strong> from the <strong><%= data.department %></strong> department with your <strong><%= data.email %></strong> email address


<% include partials/footer.ejs %>
