body {
  margin: 0;
  background-color: lavender;
  color: #444;
  font-family: 'Arial', sans-serif;
}

form label{
  display: block;
  margin-top: 30px;
}

footer {
  width:100%;
  position:fixed;
  bottom:0;
  background-color: #ccbedc;
  margin: 20px 0 0 0;
  padding: 20px;
}
